DB_HOST=35.225.156.199
DB_PORT=3306
DB_USER=root
DB_PASS=pos38ric0S
DB_PROVISION_USER=root
DB_PROVISION_PASS=pos38ric0S
MEATMANAGER_DB_NAME=meatmanager
OPERATIONAL_DB_NAME=meatmanager
DEFAULT_OPERATIONAL_TENANT_ID=1

FIREBASE_SERVICE_ACCOUNT=./firebase-service-account.json

PORT=3001
CLIENTS_DB_NAME=GestionClientes
CLIENTS_DB_HOST=35.225.156.199
CLIENTS_DB_PORT=3306
CLIENTS_DB_USER=root
CLIENTS_DB_PASS=pos38ric0S
CLIENTS_TABLE=clients
CLIENT_USERS_TABLE=client_users
CLIENT_LICENSES_TABLE=client_licenses
CLIENT_USER_PERMISSIONS_TABLE=client_user_permissions
LICENSES_TABLE=licenses
CORS_ORIGIN=https://meatmanager.def-software.com,https://meatmanager.demo.def-software.com

REDIS_HOST=35.225.156.199
REDIS_PORT=6379
REDIS_USER=root
REDIS_PASS=pos38ric0S
REDIS_TLS=false
REDIS_TLS_REJECT_UNAUTHORIZED=false
REDIS_DB=0
REDIS_TRACKING_TTL_SECONDS=90
